@import "partials/path";

/////////////////////////////////////
body {
    background-color: #f8f8f8;
    font-family: $arial;
    color: #4d4d4d;
    font-size: rem(12);
    line-height: 15px;
}

.container{
  max-width: 720px;
  margin: 0 auto;
}




.header{
  padding: 20px 0 0;
  position: relative;
}
.logo{
  padding: 0 0 0 5px;
  width: 215px;
}
.top-contacts{
  padding: 5px 0 0;
}

.contact-list{
  display: inline-block;
  i{
    vertical-align: middle;
    margin: 0 0 0 2px;
  }
  &__item{
    display: inline-block;
    vertical-align: middle;
  }
    &__link{
    display: inline-block;
    color: #747474;
    font-size: rem(14);
    font-family: $helvetica;
    text-decoration: none;
    vertical-align: middle;
    letter-spacing: 1px;
    padding: 0 10px 0 0;
  }
}

.lang-list{
  display: inline-block;
  padding: 0 0 0 5px;
  &__item{
    display: inline-block;
    &.active{
      .lang-list__link{
        color: #7dab6d;
        text-decoration: underline;
      }
    }
  }
  &__link{
    font-family: $tahoma;
    color: #747474;
    font-size: rem(14);
    text-decoration: none;
    display: inline-block;
    &:hover{
      color: #7dab6d;
      //text-decoration: underline;
    }
  }

}

.frasl-icon{
  margin: 0 4px -3px;
}


.form-serch{
  padding: 14px 0 0;
  &__input{
    width: 421px;
    height: 19px;
    background-color: #fff;
    border: 1px solid #84b478;
    padding: 0 5px;
    &:focus{
      outline: none;
    }
  }
  &__btn{
    width: 69px;
    height: 19px;
    background-color: #fff;
    border: 1px solid #84b478;
    color: #e79544;
    font-size: rem(11);
    margin: 0 0 0 10px;
    &:focus{
      outline: none;
    }
  }
}

.menu{
    padding: 16px 0 7px;

  &__item{
    display: inline-block;
    background: url('../images/menu-line.png') 100% 3px no-repeat;
    padding: 0 6px;
    &:last-child{
      padding: 0 0 0 5px;
      background-image: none;
    }
  }
  &__link{
    display: inline-block;
    color: #747474;
    font-family: $tahoma;
    font-size: rem(11);
    text-decoration: none;
    letter-spacing: 2px;
  }
}



.nav-help{
  padding: 19px 0;
  &__item{
    display: inline-block;
    float: left;
    padding: 0 16px 0 0;
    &:last-child{
      padding: 0;
    }
  }
  &__link{
    display: inline-block;
    text-decoration: none;
    color: #888e9f;
    font-family: $tahoma;
    font-size: rem(13);
    i{
      float: left;
      margin: 0 8px;
    }
  }
  &__name{
    display: inline-block;
    &-padt{
      padding: 7px 0 0;
    }
  }
}


.content{
  border-top: 1px solid #abc9a0;
  border-bottom: 1px solid #abc9a0;
  min-height: 857px;
}

.section{
  width: 71%;
  padding: 0 0 0 8px;
}
.article{
  width: 29%;
}

.title-h{
  padding: 22px 0 11px;
  color: #7f8b96;
  font-size: rem(18);
  font-weight: 700;
}
.more-link{
  color: #e79544;
  font-size: rem(13);
  text-decoration: none;
  display: inline-block;
  padding: 10px 0;
}


.news{
  padding: 0 0 25px;
  &__text-head{
    color: #e79544;
    font-size: rem(13);
    font-weight: 700;
    padding: 6px 0;
  }
  &__date{
    color: #53943c;
    font-size: rem(13);
    font-weight: 700;
  }
  &__text{
    color: #4d4d4d;
    font-size: rem(13);
    padding: 17px 0 19px;
  }
  &__further{
    color: #e79544;
    font-size: rem(14);
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
  }
}



.footer{

}
.copyright{
  color: #e79544;
  font-size: rem(10);
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}



//************ ПЛАВНАЯ АНИМАЦИЯ ***********//
//transition:all 0.3s ease;
/////////////////////////////////////////


@import "partials/media";
