@media screen and (max-width:1030px) {
    .cont-top {
        width: 73%;
        padding: 0 10px 0 0;
    }
    .nav-help {
      //width: 110%;
        &__item {
            //text-align: left;
            // width: auto;
            &-min{
              width: 22%;
            }
            &-max{
              width: 28%;
            }
        }
        &__link{
          //font-size: rem(12);
          i{
            margin: 0 5px 0 0;
          }
        }
    }
    .section {
        // br{
        //   display: inline-block;
        // }
    }

    .tabs {
        &__nav {
            //width: 225px;
        }
        &__content {
            // width: 65%;
            // max-width: auto;
        }
    }

    .form-texn {
      label {
        display: block;
      }
    }
    .forms {
        margin: 0;
        width: 50%;
    }
    .pagin-list {
        margin:  0;
    }
}




@media screen and (max-width: 767px) {
    .container {
        //max-width: 480px;
        width: 100%;
        padding: 0 15px;
        margin: 0 auto;
    }
    .hidden-sm {
        display: none;
    }


    .nav-help {
        &__item {
            &-min{
              width: 25%;
            }
            &-max{
              width: 25%;
            }
        }
        &__link{
          i{

          }
        }
    }










    .header {
        padding: 15px 0 0;
    }
    .logo {
        width: 38%;
        padding: 0;
    }
    .cont-top {
        width: auto;
        float: none !important;
        padding: 0;
    }
    .contact-list{
      float: right;
      padding: 0 80px 0 0;
    }
    .top-contacts {
        width: 60%;
        padding: 0 0 8px;
    }
    .form-serch {
        width: 100%;
        float: none;
    }
    .contact-list {
        &__item {
            display: block;
            padding: 0 0 11px;
        }
        i {
            margin: 0 9px 0 2px;
        }
    }
    .lang-list {
        position: absolute;
        top: 15px;
        right: 0;
    }
    .form-serch {
        &__input {
            width: 83%;
            float: left;
        }
        &__btn {
            margin: 0 ;
            float: right;
        }
    }
    .menu {
        text-align: center;
        padding: 18px 0 2px;
        max-width: 420px;
        margin: 0 auto;
        &__item {
            padding: 0 6px 7px;
        }
    }
    .nav-help {
        padding: 21px 0 18px 14px;
        &__item {
            width: 29%;
            padding: 0;
            &:last-child {
                text-align: right;
                width: 10%;
            }
        }
        &__name {
            display: none;
        }
    }
    .section {
        width: 100%;
        float: none;
        padding: 0;
    }
    .content {
        min-height: 100%;
        padding: 0 0 17px;
    }
    .bread-crumbs {
        padding: 11px 0;
    }
    .tabs__nav {
        width: 83px;
        padding: 0 10px 0 0;
    }
    .tabs-nav {
        padding: 10px 0 0;
        &__item {
            width: 100%;
            height: 59px;
            border: none;
            background: none;
            &.active {
                border: none;
                padding: 1px;
                &:before {
                    display: none;
                }
            }
        }
    }
    .tabs-nav__link i {
        margin: 8px 28px 0;
    }
    .tabs-nav_two{
      i {
          margin: 8px 15px 0;
      }
    }
    .tabs-nav__link-lh {
        line-height: 54px;
        padding: 0 0 0 15px;
        i {
            margin: 8px 28px 0;
        }
    }
    .tabs__content {
        //width: 85%;
        padding: 19px 0 0;
    }
    .present__img-mabail {
        display: inline-block;
        margin: 0 19px 0 0;
    }
    .present {
        width: 100%;
        &-item {
            width: 100%;
            float: none !important;
            padding: 0 0 60px;
        }
        &__title {
            padding: 0 0 5px;
        }
    }
    .tabs-nav__item {
        height: 45px;
    }
    i {
        &.tab-nav-6 {
            margin-top: -5px;
        }
        &.tab-nav-7 {
            margin-top: 5px;
        }
        &.tab-nav-8 {
            margin-top: -5px;
        }
        &.tab-nav-11 {
            margin-top: -8px;
        }
        &.tab-nav-13 {
            margin-top: -8px;
        }
        &.tab-nav-16 {
            margin-top: -8px;
        }
        &.tab-nav-19 {
            margin-top: -8px;
        }
        &.tab-nav-20 {
            margin-top: -8px;
        }
    }

    .tabs__item {;
        min-height: 700px;
    }
    .nav-help__item {
        width: 28%!important;
        text-align: center!important;
        &:first-child{
          width: 19%!important;
          text-align: left!important;

        }
        &:last-child{
          width: 19%!important;
          float: right;
        }
    }
    .contact-list {
        .top-icon-1{
          margin-left: 5px;
        }
        .top-icon-3{
          margin-left: 5px;
        }
      }

      .tabs-nav_no-arrows .tabs-nav__link i {
          margin: -16px 24px 0 0 !important;
      }




      .form-serch {
          position: relative;
          overflow: hidden;
          padding: 0 80px 0 0;
          &__btn{
            position: absolute;
            top: 0;
            right: 0;
          }
          &__input{
            width: 100%;
          }
      }


      .tabs-nav_tab{
        text-align: left;
        padding: 10px 0 0;
        &__link{
          display: none;

        }
        .tabs-nav__item{
          position: relative;
          &.active{
            i{
              position: relative;
              z-index: 999;
            }
            .tabs-nav_tab__link{
              position: absolute;
              display: block;
              top: 0;
              left: 0;
              width: 200px;
              height: 48px;
              border: 1px solid #53943b;
              background-color: rgba(253, 253, 253, 0.5);
              background-image: linear-gradient(to right, #f8f8f8 0%, #ededed 100%);
              &:before {
                content: '';
                display: inline-block;
                background: url(../images/tabs-active.png) 0 0 no-repeat;
                width: 25px;
                height: 48px;
                position: absolute;
                right: -23px;
                top: -1px;
                background-size: contain;
            }
            }
            .tabs-nav__title-mob{
              display: inline-block;
              padding: 14px 0 0 60px;
              color: #53943b;
              font-size: rem(14);
            }
            .tabs-nav__title-mob-big{
              padding-top: 8px;
            }
            .tabs-nav__title-mob-bigs{
              padding-top: 0;
            }
          }
        }
        .tabs-nav__link{

        }
        .tabs-nav__title-mob{

        }
        i{
          margin: 8px 0 0;
        }

      }

.tabs-nav{
  display: none;
}
.tabs-nav_tab{
  display: block;
  background-color: #f8f8f8;
  z-index: 999;
  position: relative;
}

.tabs-nav__link-lhm {
    padding:  0 0 0 15px;
}
.tabs-nav_tabi{
  i{
    margin: 0;
  }
}


.form-texn .jq-selectbox {
    margin: 0 0 10px 0;
}
.jq-selectbox__select{
  width: 180px;
}
.form-texn input[type="text"] {
    width: 180px;
    margin: 0 0 10px 0;
}
.texnicheskaya_table td,
.texnicheskaya_table th {
    padding: 6px 10px;
}



}
@media screen and (max-width: 479px) {
    .container {
        //max-width: 320px;
        min-width: 300px;
        margin: 0 auto;
    }
    .hidden-xs {
        display: none;
    }



    .form-serch {
        padding: 0 ;
        &__btn{
          position: relative;
        }
        &__input{
        }
    }



    .lang-list {
        top: 39px;
    }
    .logo {
        width: 100%;
        float: none;
    }
    .top-contacts {
        width: 100%;
        padding: 0 0 4px;
    }
    .contact-list {
        display: block;
        text-align: center;
        padding: 16px 9px 7px;
        float: none !important;
        i {
            float: left;
        }
        .top-icon-1{
          margin-left: 5px;
        }
        .top-icon-3{
          margin-left: 5px;
        }
        &__item {
            display: block;
            padding: 8px 0;
        }
        &__link {
            display: block;
            font-size: rem(16);
        }
    }
    .form-serch {
        &__input {
            width: 100%;
            float: none;
        }
        &__btn {
            margin: 11px auto 4px;
            display: block;
            float: none;
        }
    }
    .menu {
        padding: 18px 0 9px;
        &__item {
            background-image: none;
            padding: 0 6px;
            // &:nth-child(2){
            //   padding: 0 80px;
            // }
        }
        &__link {
            font-size: rem(13);
            padding: 0 0 8px;
        }
    }
    .nav-help__link {
        i {
            margin: 0;
        }
    }
    .content {
        padding: 0;
    }
    .copyright {
        padding: 6px 18px;
        font-size: rem(8);
        br {
            display: none;
        }
    }
    .tabs__nav {
        width: 100%;
        float: none !important;
        padding: 0;
    }
    .tabs__content {
        width: 100%;
        float: none !important;
        padding: 19px 0 0;
    }
    .tabs-nav {
        &__item {
            display: inline-block;
            width: 19%;
            margin: 0;
            padding: 0;
            text-align: center;
            &.active {
              padding: 0;
              z-index: 9999;
              position: relative;
              // text-align: center;
              // line-height: 55px;
              // line-height: 40px;
              .tabs-nav__title-mob{
                ///display: inline-block;
              }
              i{
                //margin: 0 10px 0 0 !important;
              }
            }
        }
        &__link {
            width: auto;
            line-height: 20px;
            padding: 0 10px;
            i {
                float: none !important;
                margin: 8px 10px 0 0 !important;
                vertical-align: middle;
            }
        }
        &.tabs-nav_no-arrows{
          .tabs-nav__item {
              &.active {
                line-height: 55px;
              }
          }
        }
    }
    .tabs-nav__link-lhm {
        //line-height: 54px;
        padding: 0 0 0 15px;
    }
    .title-h3 {
        text-align: center;
        font-size: rem(14);
        //display: none;
    }
    .min-title {
        width: 100%;
    }
    .acent-text {
        width: 100%;
    }
    .tac-xs {
        text-align: center;
    }
    .form {
        &__input {
            text-align: left;
        }
        &__textarea {
            text-align: left;
        }
    }
    .tabs-nav_no-arrows {
        border-bottom: 1px solid #abc9a0;
        padding: 5px 0;
        .tabs-nav__item {
            height: 45px;
        }
        .tabs-nav__link {
            height: 45px;
        }
    }
    .present {
        text-align: center;
        &-item {
            padding: 0 0 33px;
        }
        &__title {
            padding: 0 0 10px;
        }
        &__img-mabail {
            float: none !important;
            margin: 0 0 21px;
        }
    }
    .tabs-nav_bbm {
        border-bottom: 1px solid #abc9a0;
    }
    .partners {
        padding: 0 0 30px;
        &-item {
            width: 50%;
        }
    }
    .stories__item {
        &:first-child {
            border: none;
        }
    }
    i {
        &.tab-nav-7 {
            margin-top: 5px !important;
        }
    }

    .tabs{
        position: relative;
        //padding: 55px 0 0;

    }

    .tabs-nav{
      &__item{
        &.active{
          // position: absolute;
          // top: 15px;
          // left: 0;
          // width: 100%;
          // border: 1px solid #abcba3!important;
          // background-color: #fff;
        }
      }
    }
    .tabs-nav_tab__link{
      display: none!important;
    }


.tabs-nav{
  display: block;
  position: absolute;
  top: 14px;
  left: 0;
  width: 100%;
  .tabs-nav__item{
    display: none;
    border: 1px solid #53943b;
    background-color: #fff;
    width: 100%;
    &.active{
      //display: block;
    }
  }
}


.i-mob{
  vertical-align: top !important;
}

.menu {
    max-width: 300px;
}

.cont-top {
    padding: 0;
}
.lang-list {
    right: 0;
}
  .tabs-nav_no-arrows .tabs-nav__link i {
      position: static;
      top: 0;
      right: 0;
      margin: 8px 10px 0 0 !important;
  }
  .tabs-nav_no-arrows .tabs-nav__link {
      padding-right: 0 !important;
  }
  .tabs-nav_no-arrows .tabs-nav__item.active {
    .tabs-nav__link i {
        margin: -0 10px 0 0 !important;
    }
  }
    .logo {
        padding: 0;
    }




    .present-item {
        text-align: center;
    }


.tabs-nav_one{
  .tabs-nav__title-mob {
      display: inline-block;
      vertical-align: middle;
      line-height: 30px;
      font-size: rem(12);
      br{
        display: none;
      }
  }
  .tabs-nav__link {
    line-height: 40px;
  }
  i{
    margin-top: 0 !important;
  }
}

.tabs-nav_no-arrows .tabs-nav__item.active {
  border: 1px solid #53943b;
  background-color: #fff;
}
.tabs-nav_no-arrows{
  .tabs-nav__link{
    line-height: 0;
  }
}
.texn__list {
    width: 100%;
    float: none !important;
    text-align: center;
    list-style-type: none;
    padding: 0 0 20px;
}
.forms {
  width: 100%;
  float: none !important;
  text-align: center;
}
.form-texn{
  text-align: center;
}


.texnicheskaya_table-des{
  display: none;
}
.texnicheskaya_table-mob{
  display: table;;
}
.pagination__text,
.pagin-list {
    float: none !important;
    width: 100%;
    padding: 10px 0;
}

.tabs-nav_one{
  i{
    display: none;
  }
}

}
