/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$frasl-icon-name: 'frasl-icon';
$frasl-icon-x: 0px;
$frasl-icon-y: 0px;
$frasl-icon-offset-x: 0px;
$frasl-icon-offset-y: 0px;
$frasl-icon-width: 6px;
$frasl-icon-height: 13px;
$frasl-icon-total-width: 32px;
$frasl-icon-total-height: 1749px;
$frasl-icon-image: '../images/sprite.png';
$frasl-icon: (0px, 0px, 0px, 0px, 6px, 13px, 32px, 1749px, '../images/sprite.png', 'frasl-icon', );
$help-icon-1-name: 'help-icon-1';
$help-icon-1-x: 0px;
$help-icon-1-y: 18px;
$help-icon-1-offset-x: 0px;
$help-icon-1-offset-y: -18px;
$help-icon-1-width: 28px;
$help-icon-1-height: 28px;
$help-icon-1-total-width: 32px;
$help-icon-1-total-height: 1749px;
$help-icon-1-image: '../images/sprite.png';
$help-icon-1: (0px, 18px, 0px, -18px, 28px, 28px, 32px, 1749px, '../images/sprite.png', 'help-icon-1', );
$help-icon-2-name: 'help-icon-2';
$help-icon-2-x: 0px;
$help-icon-2-y: 51px;
$help-icon-2-offset-x: 0px;
$help-icon-2-offset-y: -51px;
$help-icon-2-width: 28px;
$help-icon-2-height: 28px;
$help-icon-2-total-width: 32px;
$help-icon-2-total-height: 1749px;
$help-icon-2-image: '../images/sprite.png';
$help-icon-2: (0px, 51px, 0px, -51px, 28px, 28px, 32px, 1749px, '../images/sprite.png', 'help-icon-2', );
$help-icon-3-name: 'help-icon-3';
$help-icon-3-x: 0px;
$help-icon-3-y: 84px;
$help-icon-3-offset-x: 0px;
$help-icon-3-offset-y: -84px;
$help-icon-3-width: 22px;
$help-icon-3-height: 30px;
$help-icon-3-total-width: 32px;
$help-icon-3-total-height: 1749px;
$help-icon-3-image: '../images/sprite.png';
$help-icon-3: (0px, 84px, 0px, -84px, 22px, 30px, 32px, 1749px, '../images/sprite.png', 'help-icon-3', );
$help-icon-4-name: 'help-icon-4';
$help-icon-4-x: 0px;
$help-icon-4-y: 119px;
$help-icon-4-offset-x: 0px;
$help-icon-4-offset-y: -119px;
$help-icon-4-width: 30px;
$help-icon-4-height: 30px;
$help-icon-4-total-width: 32px;
$help-icon-4-total-height: 1749px;
$help-icon-4-image: '../images/sprite.png';
$help-icon-4: (0px, 119px, 0px, -119px, 30px, 30px, 32px, 1749px, '../images/sprite.png', 'help-icon-4', );
$icon-home-name: 'icon-home';
$icon-home-x: 0px;
$icon-home-y: 154px;
$icon-home-offset-x: 0px;
$icon-home-offset-y: -154px;
$icon-home-width: 19px;
$icon-home-height: 17px;
$icon-home-total-width: 32px;
$icon-home-total-height: 1749px;
$icon-home-image: '../images/sprite.png';
$icon-home: (0px, 154px, 0px, -154px, 19px, 17px, 32px, 1749px, '../images/sprite.png', 'icon-home', );
$icon-home2-name: 'icon-home2';
$icon-home2-x: 0px;
$icon-home2-y: 176px;
$icon-home2-offset-x: 0px;
$icon-home2-offset-y: -176px;
$icon-home2-width: 21px;
$icon-home2-height: 21px;
$icon-home2-total-width: 32px;
$icon-home2-total-height: 1749px;
$icon-home2-image: '../images/sprite.png';
$icon-home2: (0px, 176px, 0px, -176px, 21px, 21px, 32px, 1749px, '../images/sprite.png', 'icon-home2', );
$icon-home3-name: 'icon-home3';
$icon-home3-x: 0px;
$icon-home3-y: 202px;
$icon-home3-offset-x: 0px;
$icon-home3-offset-y: -202px;
$icon-home3-width: 25px;
$icon-home3-height: 17px;
$icon-home3-total-width: 32px;
$icon-home3-total-height: 1749px;
$icon-home3-image: '../images/sprite.png';
$icon-home3: (0px, 202px, 0px, -202px, 25px, 17px, 32px, 1749px, '../images/sprite.png', 'icon-home3', );
$tab-nav-1-hover-name: 'tab-nav-1-hover';
$tab-nav-1-hover-x: 0px;
$tab-nav-1-hover-y: 224px;
$tab-nav-1-hover-offset-x: 0px;
$tab-nav-1-hover-offset-y: -224px;
$tab-nav-1-hover-width: 27px;
$tab-nav-1-hover-height: 38px;
$tab-nav-1-hover-total-width: 32px;
$tab-nav-1-hover-total-height: 1749px;
$tab-nav-1-hover-image: '../images/sprite.png';
$tab-nav-1-hover: (0px, 224px, 0px, -224px, 27px, 38px, 32px, 1749px, '../images/sprite.png', 'tab-nav-1-hover', );
$tab-nav-1-name: 'tab-nav-1';
$tab-nav-1-x: 0px;
$tab-nav-1-y: 267px;
$tab-nav-1-offset-x: 0px;
$tab-nav-1-offset-y: -267px;
$tab-nav-1-width: 27px;
$tab-nav-1-height: 38px;
$tab-nav-1-total-width: 32px;
$tab-nav-1-total-height: 1749px;
$tab-nav-1-image: '../images/sprite.png';
$tab-nav-1: (0px, 267px, 0px, -267px, 27px, 38px, 32px, 1749px, '../images/sprite.png', 'tab-nav-1', );
$tab-nav-10-hover-name: 'tab-nav-10-hover';
$tab-nav-10-hover-x: 0px;
$tab-nav-10-hover-y: 310px;
$tab-nav-10-hover-offset-x: 0px;
$tab-nav-10-hover-offset-y: -310px;
$tab-nav-10-hover-width: 30px;
$tab-nav-10-hover-height: 27px;
$tab-nav-10-hover-total-width: 32px;
$tab-nav-10-hover-total-height: 1749px;
$tab-nav-10-hover-image: '../images/sprite.png';
$tab-nav-10-hover: (0px, 310px, 0px, -310px, 30px, 27px, 32px, 1749px, '../images/sprite.png', 'tab-nav-10-hover', );
$tab-nav-10-name: 'tab-nav-10';
$tab-nav-10-x: 0px;
$tab-nav-10-y: 342px;
$tab-nav-10-offset-x: 0px;
$tab-nav-10-offset-y: -342px;
$tab-nav-10-width: 30px;
$tab-nav-10-height: 27px;
$tab-nav-10-total-width: 32px;
$tab-nav-10-total-height: 1749px;
$tab-nav-10-image: '../images/sprite.png';
$tab-nav-10: (0px, 342px, 0px, -342px, 30px, 27px, 32px, 1749px, '../images/sprite.png', 'tab-nav-10', );
$tab-nav-11-hover-name: 'tab-nav-11-hover';
$tab-nav-11-hover-x: 0px;
$tab-nav-11-hover-y: 374px;
$tab-nav-11-hover-offset-x: 0px;
$tab-nav-11-hover-offset-y: -374px;
$tab-nav-11-hover-width: 21px;
$tab-nav-11-hover-height: 29px;
$tab-nav-11-hover-total-width: 32px;
$tab-nav-11-hover-total-height: 1749px;
$tab-nav-11-hover-image: '../images/sprite.png';
$tab-nav-11-hover: (0px, 374px, 0px, -374px, 21px, 29px, 32px, 1749px, '../images/sprite.png', 'tab-nav-11-hover', );
$tab-nav-11-name: 'tab-nav-11';
$tab-nav-11-x: 0px;
$tab-nav-11-y: 408px;
$tab-nav-11-offset-x: 0px;
$tab-nav-11-offset-y: -408px;
$tab-nav-11-width: 21px;
$tab-nav-11-height: 29px;
$tab-nav-11-total-width: 32px;
$tab-nav-11-total-height: 1749px;
$tab-nav-11-image: '../images/sprite.png';
$tab-nav-11: (0px, 408px, 0px, -408px, 21px, 29px, 32px, 1749px, '../images/sprite.png', 'tab-nav-11', );
$tab-nav-12-hover-name: 'tab-nav-12-hover';
$tab-nav-12-hover-x: 0px;
$tab-nav-12-hover-y: 442px;
$tab-nav-12-hover-offset-x: 0px;
$tab-nav-12-hover-offset-y: -442px;
$tab-nav-12-hover-width: 29px;
$tab-nav-12-hover-height: 29px;
$tab-nav-12-hover-total-width: 32px;
$tab-nav-12-hover-total-height: 1749px;
$tab-nav-12-hover-image: '../images/sprite.png';
$tab-nav-12-hover: (0px, 442px, 0px, -442px, 29px, 29px, 32px, 1749px, '../images/sprite.png', 'tab-nav-12-hover', );
$tab-nav-12-name: 'tab-nav-12';
$tab-nav-12-x: 0px;
$tab-nav-12-y: 476px;
$tab-nav-12-offset-x: 0px;
$tab-nav-12-offset-y: -476px;
$tab-nav-12-width: 29px;
$tab-nav-12-height: 29px;
$tab-nav-12-total-width: 32px;
$tab-nav-12-total-height: 1749px;
$tab-nav-12-image: '../images/sprite.png';
$tab-nav-12: (0px, 476px, 0px, -476px, 29px, 29px, 32px, 1749px, '../images/sprite.png', 'tab-nav-12', );
$tab-nav-13-hover-name: 'tab-nav-13-hover';
$tab-nav-13-hover-x: 0px;
$tab-nav-13-hover-y: 510px;
$tab-nav-13-hover-offset-x: 0px;
$tab-nav-13-hover-offset-y: -510px;
$tab-nav-13-hover-width: 29px;
$tab-nav-13-hover-height: 26px;
$tab-nav-13-hover-total-width: 32px;
$tab-nav-13-hover-total-height: 1749px;
$tab-nav-13-hover-image: '../images/sprite.png';
$tab-nav-13-hover: (0px, 510px, 0px, -510px, 29px, 26px, 32px, 1749px, '../images/sprite.png', 'tab-nav-13-hover', );
$tab-nav-13-name: 'tab-nav-13';
$tab-nav-13-x: 0px;
$tab-nav-13-y: 541px;
$tab-nav-13-offset-x: 0px;
$tab-nav-13-offset-y: -541px;
$tab-nav-13-width: 29px;
$tab-nav-13-height: 26px;
$tab-nav-13-total-width: 32px;
$tab-nav-13-total-height: 1749px;
$tab-nav-13-image: '../images/sprite.png';
$tab-nav-13: (0px, 541px, 0px, -541px, 29px, 26px, 32px, 1749px, '../images/sprite.png', 'tab-nav-13', );
$tab-nav-14-hover-name: 'tab-nav-14-hover';
$tab-nav-14-hover-x: 0px;
$tab-nav-14-hover-y: 572px;
$tab-nav-14-hover-offset-x: 0px;
$tab-nav-14-hover-offset-y: -572px;
$tab-nav-14-hover-width: 27px;
$tab-nav-14-hover-height: 30px;
$tab-nav-14-hover-total-width: 32px;
$tab-nav-14-hover-total-height: 1749px;
$tab-nav-14-hover-image: '../images/sprite.png';
$tab-nav-14-hover: (0px, 572px, 0px, -572px, 27px, 30px, 32px, 1749px, '../images/sprite.png', 'tab-nav-14-hover', );
$tab-nav-14-name: 'tab-nav-14';
$tab-nav-14-x: 0px;
$tab-nav-14-y: 607px;
$tab-nav-14-offset-x: 0px;
$tab-nav-14-offset-y: -607px;
$tab-nav-14-width: 27px;
$tab-nav-14-height: 30px;
$tab-nav-14-total-width: 32px;
$tab-nav-14-total-height: 1749px;
$tab-nav-14-image: '../images/sprite.png';
$tab-nav-14: (0px, 607px, 0px, -607px, 27px, 30px, 32px, 1749px, '../images/sprite.png', 'tab-nav-14', );
$tab-nav-15-hover-name: 'tab-nav-15-hover';
$tab-nav-15-hover-x: 0px;
$tab-nav-15-hover-y: 642px;
$tab-nav-15-hover-offset-x: 0px;
$tab-nav-15-hover-offset-y: -642px;
$tab-nav-15-hover-width: 31px;
$tab-nav-15-hover-height: 23px;
$tab-nav-15-hover-total-width: 32px;
$tab-nav-15-hover-total-height: 1749px;
$tab-nav-15-hover-image: '../images/sprite.png';
$tab-nav-15-hover: (0px, 642px, 0px, -642px, 31px, 23px, 32px, 1749px, '../images/sprite.png', 'tab-nav-15-hover', );
$tab-nav-15-name: 'tab-nav-15';
$tab-nav-15-x: 0px;
$tab-nav-15-y: 670px;
$tab-nav-15-offset-x: 0px;
$tab-nav-15-offset-y: -670px;
$tab-nav-15-width: 31px;
$tab-nav-15-height: 23px;
$tab-nav-15-total-width: 32px;
$tab-nav-15-total-height: 1749px;
$tab-nav-15-image: '../images/sprite.png';
$tab-nav-15: (0px, 670px, 0px, -670px, 31px, 23px, 32px, 1749px, '../images/sprite.png', 'tab-nav-15', );
$tab-nav-16-hover-name: 'tab-nav-16-hover';
$tab-nav-16-hover-x: 0px;
$tab-nav-16-hover-y: 698px;
$tab-nav-16-hover-offset-x: 0px;
$tab-nav-16-hover-offset-y: -698px;
$tab-nav-16-hover-width: 31px;
$tab-nav-16-hover-height: 31px;
$tab-nav-16-hover-total-width: 32px;
$tab-nav-16-hover-total-height: 1749px;
$tab-nav-16-hover-image: '../images/sprite.png';
$tab-nav-16-hover: (0px, 698px, 0px, -698px, 31px, 31px, 32px, 1749px, '../images/sprite.png', 'tab-nav-16-hover', );
$tab-nav-16-name: 'tab-nav-16';
$tab-nav-16-x: 0px;
$tab-nav-16-y: 734px;
$tab-nav-16-offset-x: 0px;
$tab-nav-16-offset-y: -734px;
$tab-nav-16-width: 31px;
$tab-nav-16-height: 31px;
$tab-nav-16-total-width: 32px;
$tab-nav-16-total-height: 1749px;
$tab-nav-16-image: '../images/sprite.png';
$tab-nav-16: (0px, 734px, 0px, -734px, 31px, 31px, 32px, 1749px, '../images/sprite.png', 'tab-nav-16', );
$tab-nav-17-hover-name: 'tab-nav-17-hover';
$tab-nav-17-hover-x: 0px;
$tab-nav-17-hover-y: 770px;
$tab-nav-17-hover-offset-x: 0px;
$tab-nav-17-hover-offset-y: -770px;
$tab-nav-17-hover-width: 31px;
$tab-nav-17-hover-height: 29px;
$tab-nav-17-hover-total-width: 32px;
$tab-nav-17-hover-total-height: 1749px;
$tab-nav-17-hover-image: '../images/sprite.png';
$tab-nav-17-hover: (0px, 770px, 0px, -770px, 31px, 29px, 32px, 1749px, '../images/sprite.png', 'tab-nav-17-hover', );
$tab-nav-17-name: 'tab-nav-17';
$tab-nav-17-x: 0px;
$tab-nav-17-y: 804px;
$tab-nav-17-offset-x: 0px;
$tab-nav-17-offset-y: -804px;
$tab-nav-17-width: 31px;
$tab-nav-17-height: 29px;
$tab-nav-17-total-width: 32px;
$tab-nav-17-total-height: 1749px;
$tab-nav-17-image: '../images/sprite.png';
$tab-nav-17: (0px, 804px, 0px, -804px, 31px, 29px, 32px, 1749px, '../images/sprite.png', 'tab-nav-17', );
$tab-nav-18-hover-name: 'tab-nav-18-hover';
$tab-nav-18-hover-x: 0px;
$tab-nav-18-hover-y: 838px;
$tab-nav-18-hover-offset-x: 0px;
$tab-nav-18-hover-offset-y: -838px;
$tab-nav-18-hover-width: 30px;
$tab-nav-18-hover-height: 27px;
$tab-nav-18-hover-total-width: 32px;
$tab-nav-18-hover-total-height: 1749px;
$tab-nav-18-hover-image: '../images/sprite.png';
$tab-nav-18-hover: (0px, 838px, 0px, -838px, 30px, 27px, 32px, 1749px, '../images/sprite.png', 'tab-nav-18-hover', );
$tab-nav-18-name: 'tab-nav-18';
$tab-nav-18-x: 0px;
$tab-nav-18-y: 870px;
$tab-nav-18-offset-x: 0px;
$tab-nav-18-offset-y: -870px;
$tab-nav-18-width: 30px;
$tab-nav-18-height: 27px;
$tab-nav-18-total-width: 32px;
$tab-nav-18-total-height: 1749px;
$tab-nav-18-image: '../images/sprite.png';
$tab-nav-18: (0px, 870px, 0px, -870px, 30px, 27px, 32px, 1749px, '../images/sprite.png', 'tab-nav-18', );
$tab-nav-19-hover-name: 'tab-nav-19-hover';
$tab-nav-19-hover-x: 0px;
$tab-nav-19-hover-y: 902px;
$tab-nav-19-hover-offset-x: 0px;
$tab-nav-19-hover-offset-y: -902px;
$tab-nav-19-hover-width: 26px;
$tab-nav-19-hover-height: 29px;
$tab-nav-19-hover-total-width: 32px;
$tab-nav-19-hover-total-height: 1749px;
$tab-nav-19-hover-image: '../images/sprite.png';
$tab-nav-19-hover: (0px, 902px, 0px, -902px, 26px, 29px, 32px, 1749px, '../images/sprite.png', 'tab-nav-19-hover', );
$tab-nav-19-name: 'tab-nav-19';
$tab-nav-19-x: 0px;
$tab-nav-19-y: 936px;
$tab-nav-19-offset-x: 0px;
$tab-nav-19-offset-y: -936px;
$tab-nav-19-width: 26px;
$tab-nav-19-height: 29px;
$tab-nav-19-total-width: 32px;
$tab-nav-19-total-height: 1749px;
$tab-nav-19-image: '../images/sprite.png';
$tab-nav-19: (0px, 936px, 0px, -936px, 26px, 29px, 32px, 1749px, '../images/sprite.png', 'tab-nav-19', );
$tab-nav-2-hover-name: 'tab-nav-2-hover';
$tab-nav-2-hover-x: 0px;
$tab-nav-2-hover-y: 970px;
$tab-nav-2-hover-offset-x: 0px;
$tab-nav-2-hover-offset-y: -970px;
$tab-nav-2-hover-width: 25px;
$tab-nav-2-hover-height: 40px;
$tab-nav-2-hover-total-width: 32px;
$tab-nav-2-hover-total-height: 1749px;
$tab-nav-2-hover-image: '../images/sprite.png';
$tab-nav-2-hover: (0px, 970px, 0px, -970px, 25px, 40px, 32px, 1749px, '../images/sprite.png', 'tab-nav-2-hover', );
$tab-nav-2-name: 'tab-nav-2';
$tab-nav-2-x: 0px;
$tab-nav-2-y: 1015px;
$tab-nav-2-offset-x: 0px;
$tab-nav-2-offset-y: -1015px;
$tab-nav-2-width: 25px;
$tab-nav-2-height: 40px;
$tab-nav-2-total-width: 32px;
$tab-nav-2-total-height: 1749px;
$tab-nav-2-image: '../images/sprite.png';
$tab-nav-2: (0px, 1015px, 0px, -1015px, 25px, 40px, 32px, 1749px, '../images/sprite.png', 'tab-nav-2', );
$tab-nav-20-hover-name: 'tab-nav-20-hover';
$tab-nav-20-hover-x: 0px;
$tab-nav-20-hover-y: 1060px;
$tab-nav-20-hover-offset-x: 0px;
$tab-nav-20-hover-offset-y: -1060px;
$tab-nav-20-hover-width: 30px;
$tab-nav-20-hover-height: 26px;
$tab-nav-20-hover-total-width: 32px;
$tab-nav-20-hover-total-height: 1749px;
$tab-nav-20-hover-image: '../images/sprite.png';
$tab-nav-20-hover: (0px, 1060px, 0px, -1060px, 30px, 26px, 32px, 1749px, '../images/sprite.png', 'tab-nav-20-hover', );
$tab-nav-20-name: 'tab-nav-20';
$tab-nav-20-x: 0px;
$tab-nav-20-y: 1091px;
$tab-nav-20-offset-x: 0px;
$tab-nav-20-offset-y: -1091px;
$tab-nav-20-width: 30px;
$tab-nav-20-height: 26px;
$tab-nav-20-total-width: 32px;
$tab-nav-20-total-height: 1749px;
$tab-nav-20-image: '../images/sprite.png';
$tab-nav-20: (0px, 1091px, 0px, -1091px, 30px, 26px, 32px, 1749px, '../images/sprite.png', 'tab-nav-20', );
$tab-nav-21-hover-name: 'tab-nav-21-hover';
$tab-nav-21-hover-x: 0px;
$tab-nav-21-hover-y: 1122px;
$tab-nav-21-hover-offset-x: 0px;
$tab-nav-21-hover-offset-y: -1122px;
$tab-nav-21-hover-width: 29px;
$tab-nav-21-hover-height: 25px;
$tab-nav-21-hover-total-width: 32px;
$tab-nav-21-hover-total-height: 1749px;
$tab-nav-21-hover-image: '../images/sprite.png';
$tab-nav-21-hover: (0px, 1122px, 0px, -1122px, 29px, 25px, 32px, 1749px, '../images/sprite.png', 'tab-nav-21-hover', );
$tab-nav-21-name: 'tab-nav-21';
$tab-nav-21-x: 0px;
$tab-nav-21-y: 1152px;
$tab-nav-21-offset-x: 0px;
$tab-nav-21-offset-y: -1152px;
$tab-nav-21-width: 29px;
$tab-nav-21-height: 25px;
$tab-nav-21-total-width: 32px;
$tab-nav-21-total-height: 1749px;
$tab-nav-21-image: '../images/sprite.png';
$tab-nav-21: (0px, 1152px, 0px, -1152px, 29px, 25px, 32px, 1749px, '../images/sprite.png', 'tab-nav-21', );
$tab-nav-3-hover-name: 'tab-nav-3-hover';
$tab-nav-3-hover-x: 0px;
$tab-nav-3-hover-y: 1182px;
$tab-nav-3-hover-offset-x: 0px;
$tab-nav-3-hover-offset-y: -1182px;
$tab-nav-3-hover-width: 32px;
$tab-nav-3-hover-height: 32px;
$tab-nav-3-hover-total-width: 32px;
$tab-nav-3-hover-total-height: 1749px;
$tab-nav-3-hover-image: '../images/sprite.png';
$tab-nav-3-hover: (0px, 1182px, 0px, -1182px, 32px, 32px, 32px, 1749px, '../images/sprite.png', 'tab-nav-3-hover', );
$tab-nav-3-name: 'tab-nav-3';
$tab-nav-3-x: 0px;
$tab-nav-3-y: 1219px;
$tab-nav-3-offset-x: 0px;
$tab-nav-3-offset-y: -1219px;
$tab-nav-3-width: 32px;
$tab-nav-3-height: 32px;
$tab-nav-3-total-width: 32px;
$tab-nav-3-total-height: 1749px;
$tab-nav-3-image: '../images/sprite.png';
$tab-nav-3: (0px, 1219px, 0px, -1219px, 32px, 32px, 32px, 1749px, '../images/sprite.png', 'tab-nav-3', );
$tab-nav-4-hover-name: 'tab-nav-4-hover';
$tab-nav-4-hover-x: 0px;
$tab-nav-4-hover-y: 1256px;
$tab-nav-4-hover-offset-x: 0px;
$tab-nav-4-hover-offset-y: -1256px;
$tab-nav-4-hover-width: 28px;
$tab-nav-4-hover-height: 39px;
$tab-nav-4-hover-total-width: 32px;
$tab-nav-4-hover-total-height: 1749px;
$tab-nav-4-hover-image: '../images/sprite.png';
$tab-nav-4-hover: (0px, 1256px, 0px, -1256px, 28px, 39px, 32px, 1749px, '../images/sprite.png', 'tab-nav-4-hover', );
$tab-nav-4-name: 'tab-nav-4';
$tab-nav-4-x: 0px;
$tab-nav-4-y: 1300px;
$tab-nav-4-offset-x: 0px;
$tab-nav-4-offset-y: -1300px;
$tab-nav-4-width: 28px;
$tab-nav-4-height: 39px;
$tab-nav-4-total-width: 32px;
$tab-nav-4-total-height: 1749px;
$tab-nav-4-image: '../images/sprite.png';
$tab-nav-4: (0px, 1300px, 0px, -1300px, 28px, 39px, 32px, 1749px, '../images/sprite.png', 'tab-nav-4', );
$tab-nav-5-hover-name: 'tab-nav-5-hover';
$tab-nav-5-hover-x: 0px;
$tab-nav-5-hover-y: 1344px;
$tab-nav-5-hover-offset-x: 0px;
$tab-nav-5-hover-offset-y: -1344px;
$tab-nav-5-hover-width: 32px;
$tab-nav-5-hover-height: 34px;
$tab-nav-5-hover-total-width: 32px;
$tab-nav-5-hover-total-height: 1749px;
$tab-nav-5-hover-image: '../images/sprite.png';
$tab-nav-5-hover: (0px, 1344px, 0px, -1344px, 32px, 34px, 32px, 1749px, '../images/sprite.png', 'tab-nav-5-hover', );
$tab-nav-5-name: 'tab-nav-5';
$tab-nav-5-x: 0px;
$tab-nav-5-y: 1383px;
$tab-nav-5-offset-x: 0px;
$tab-nav-5-offset-y: -1383px;
$tab-nav-5-width: 32px;
$tab-nav-5-height: 34px;
$tab-nav-5-total-width: 32px;
$tab-nav-5-total-height: 1749px;
$tab-nav-5-image: '../images/sprite.png';
$tab-nav-5: (0px, 1383px, 0px, -1383px, 32px, 34px, 32px, 1749px, '../images/sprite.png', 'tab-nav-5', );
$tab-nav-6-hover-name: 'tab-nav-6-hover';
$tab-nav-6-hover-x: 0px;
$tab-nav-6-hover-y: 1422px;
$tab-nav-6-hover-offset-x: 0px;
$tab-nav-6-hover-offset-y: -1422px;
$tab-nav-6-hover-width: 25px;
$tab-nav-6-hover-height: 29px;
$tab-nav-6-hover-total-width: 32px;
$tab-nav-6-hover-total-height: 1749px;
$tab-nav-6-hover-image: '../images/sprite.png';
$tab-nav-6-hover: (0px, 1422px, 0px, -1422px, 25px, 29px, 32px, 1749px, '../images/sprite.png', 'tab-nav-6-hover', );
$tab-nav-6-name: 'tab-nav-6';
$tab-nav-6-x: 0px;
$tab-nav-6-y: 1456px;
$tab-nav-6-offset-x: 0px;
$tab-nav-6-offset-y: -1456px;
$tab-nav-6-width: 25px;
$tab-nav-6-height: 29px;
$tab-nav-6-total-width: 32px;
$tab-nav-6-total-height: 1749px;
$tab-nav-6-image: '../images/sprite.png';
$tab-nav-6: (0px, 1456px, 0px, -1456px, 25px, 29px, 32px, 1749px, '../images/sprite.png', 'tab-nav-6', );
$tab-nav-7-hover-name: 'tab-nav-7-hover';
$tab-nav-7-hover-x: 0px;
$tab-nav-7-hover-y: 1490px;
$tab-nav-7-hover-offset-x: 0px;
$tab-nav-7-hover-offset-y: -1490px;
$tab-nav-7-hover-width: 30px;
$tab-nav-7-hover-height: 34px;
$tab-nav-7-hover-total-width: 32px;
$tab-nav-7-hover-total-height: 1749px;
$tab-nav-7-hover-image: '../images/sprite.png';
$tab-nav-7-hover: (0px, 1490px, 0px, -1490px, 30px, 34px, 32px, 1749px, '../images/sprite.png', 'tab-nav-7-hover', );
$tab-nav-7-name: 'tab-nav-7';
$tab-nav-7-x: 0px;
$tab-nav-7-y: 1529px;
$tab-nav-7-offset-x: 0px;
$tab-nav-7-offset-y: -1529px;
$tab-nav-7-width: 30px;
$tab-nav-7-height: 34px;
$tab-nav-7-total-width: 32px;
$tab-nav-7-total-height: 1749px;
$tab-nav-7-image: '../images/sprite.png';
$tab-nav-7: (0px, 1529px, 0px, -1529px, 30px, 34px, 32px, 1749px, '../images/sprite.png', 'tab-nav-7', );
$tab-nav-8-hover-name: 'tab-nav-8-hover';
$tab-nav-8-hover-x: 0px;
$tab-nav-8-hover-y: 1568px;
$tab-nav-8-hover-offset-x: 0px;
$tab-nav-8-hover-offset-y: -1568px;
$tab-nav-8-hover-width: 30px;
$tab-nav-8-hover-height: 26px;
$tab-nav-8-hover-total-width: 32px;
$tab-nav-8-hover-total-height: 1749px;
$tab-nav-8-hover-image: '../images/sprite.png';
$tab-nav-8-hover: (0px, 1568px, 0px, -1568px, 30px, 26px, 32px, 1749px, '../images/sprite.png', 'tab-nav-8-hover', );
$tab-nav-8-name: 'tab-nav-8';
$tab-nav-8-x: 0px;
$tab-nav-8-y: 1599px;
$tab-nav-8-offset-x: 0px;
$tab-nav-8-offset-y: -1599px;
$tab-nav-8-width: 30px;
$tab-nav-8-height: 26px;
$tab-nav-8-total-width: 32px;
$tab-nav-8-total-height: 1749px;
$tab-nav-8-image: '../images/sprite.png';
$tab-nav-8: (0px, 1599px, 0px, -1599px, 30px, 26px, 32px, 1749px, '../images/sprite.png', 'tab-nav-8', );
$tab-nav-9-hover-name: 'tab-nav-9-hover';
$tab-nav-9-hover-x: 0px;
$tab-nav-9-hover-y: 1630px;
$tab-nav-9-hover-offset-x: 0px;
$tab-nav-9-hover-offset-y: -1630px;
$tab-nav-9-hover-width: 30px;
$tab-nav-9-hover-height: 30px;
$tab-nav-9-hover-total-width: 32px;
$tab-nav-9-hover-total-height: 1749px;
$tab-nav-9-hover-image: '../images/sprite.png';
$tab-nav-9-hover: (0px, 1630px, 0px, -1630px, 30px, 30px, 32px, 1749px, '../images/sprite.png', 'tab-nav-9-hover', );
$tab-nav-9-name: 'tab-nav-9';
$tab-nav-9-x: 0px;
$tab-nav-9-y: 1665px;
$tab-nav-9-offset-x: 0px;
$tab-nav-9-offset-y: -1665px;
$tab-nav-9-width: 30px;
$tab-nav-9-height: 30px;
$tab-nav-9-total-width: 32px;
$tab-nav-9-total-height: 1749px;
$tab-nav-9-image: '../images/sprite.png';
$tab-nav-9: (0px, 1665px, 0px, -1665px, 30px, 30px, 32px, 1749px, '../images/sprite.png', 'tab-nav-9', );
$top-icon-1-name: 'top-icon-1';
$top-icon-1-x: 0px;
$top-icon-1-y: 1700px;
$top-icon-1-offset-x: 0px;
$top-icon-1-offset-y: -1700px;
$top-icon-1-width: 10px;
$top-icon-1-height: 13px;
$top-icon-1-total-width: 32px;
$top-icon-1-total-height: 1749px;
$top-icon-1-image: '../images/sprite.png';
$top-icon-1: (0px, 1700px, 0px, -1700px, 10px, 13px, 32px, 1749px, '../images/sprite.png', 'top-icon-1', );
$top-icon-2-name: 'top-icon-2';
$top-icon-2-x: 0px;
$top-icon-2-y: 1718px;
$top-icon-2-offset-x: 0px;
$top-icon-2-offset-y: -1718px;
$top-icon-2-width: 16px;
$top-icon-2-height: 13px;
$top-icon-2-total-width: 32px;
$top-icon-2-total-height: 1749px;
$top-icon-2-image: '../images/sprite.png';
$top-icon-2: (0px, 1718px, 0px, -1718px, 16px, 13px, 32px, 1749px, '../images/sprite.png', 'top-icon-2', );
$top-icon-3-name: 'top-icon-3';
$top-icon-3-x: 0px;
$top-icon-3-y: 1736px;
$top-icon-3-offset-x: 0px;
$top-icon-3-offset-y: -1736px;
$top-icon-3-width: 11px;
$top-icon-3-height: 13px;
$top-icon-3-total-width: 32px;
$top-icon-3-total-height: 1749px;
$top-icon-3-image: '../images/sprite.png';
$top-icon-3: (0px, 1736px, 0px, -1736px, 11px, 13px, 32px, 1749px, '../images/sprite.png', 'top-icon-3', );
$spritesheet-width: 32px;
$spritesheet-height: 1749px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($frasl-icon, $help-icon-1, $help-icon-2, $help-icon-3, $help-icon-4, $icon-home, $icon-home2, $icon-home3, $tab-nav-1-hover, $tab-nav-1, $tab-nav-10-hover, $tab-nav-10, $tab-nav-11-hover, $tab-nav-11, $tab-nav-12-hover, $tab-nav-12, $tab-nav-13-hover, $tab-nav-13, $tab-nav-14-hover, $tab-nav-14, $tab-nav-15-hover, $tab-nav-15, $tab-nav-16-hover, $tab-nav-16, $tab-nav-17-hover, $tab-nav-17, $tab-nav-18-hover, $tab-nav-18, $tab-nav-19-hover, $tab-nav-19, $tab-nav-2-hover, $tab-nav-2, $tab-nav-20-hover, $tab-nav-20, $tab-nav-21-hover, $tab-nav-21, $tab-nav-3-hover, $tab-nav-3, $tab-nav-4-hover, $tab-nav-4, $tab-nav-5-hover, $tab-nav-5, $tab-nav-6-hover, $tab-nav-6, $tab-nav-7-hover, $tab-nav-7, $tab-nav-8-hover, $tab-nav-8, $tab-nav-9-hover, $tab-nav-9, $top-icon-1, $top-icon-2, $top-icon-3, );
$spritesheet: (32px, 1749px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
